details.questionListItem {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.2rem 0.2rem 0;
  margin-bottom: 0.6rem;
  cursor: pointer;
  list-style: none;
}
details.questionListItem > summary::-webkit-details-marker {
  display: none;
}
.questionListItem > summary {
  font-weight: bold;
  margin: -0.2rem -0.2rem 0;
  padding: 0.2rem;
}

details[open].questionListItem {
  padding: 0.2rem;
}

details[open].questionListItem > summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.2rem;
}
