details.question-row {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0.2rem 0.2rem 0;
    margin-bottom: 0.6rem;
    cursor: pointer;
    list-style: none;
}

details.question-row > summary::-webkit-details-marker {
    display: none;
}

details.question-row > summary {
    font-weight: bold;
    margin: -0.2rem -0.2rem 0;
    padding: 0.2rem;
}

details[open].question-row {
    padding: 0.2rem;
}

details[open].question-row > summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.2rem;
}

.content {
    border-top: solid 2px #ddd;
}

@media (min-width: 1000px) {
    .content {
        padding: 0 15px;
        border-left: solid 2px #ddd;
        border-top: none;
    }
}
